
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>

    <div class="nav-wrapper">
      {% if request.session.doctor %}


      <a href="#!" class="brand-logo">{{data.doctor}}</a>
      <ul class="right hide-on-med-and-down">

      {% else %}
        <a href="#!" class="brand-logo">Doctors Profiles</a>
        <ul class="right hide-on-med-and-down">
    
      {% endif %}

        {% if request.session.doctor %}

          <ul>
            <li><a  href="/logout">Logout Doctors</a></li>
          </ul>
        {% else %}
       
        <ul>
          
          <li><a href="/login">Login Doctors</a></li>
          <li><a href="/signup">Sign up</a></li>

        </ul>

        {% endif %}
   
        
        </ul>
    </div>
  </nav>
  
  <nav>
    <div class="nav-wrapper">

        <div class="search-box">
          
          <form action="{% url 'main:search' %}" method="get">  
          <input name="q" type="text" placeholder="Search patiants">


          <button class="btn waves-effect waves-light">Search

          </button>
        
          <!-- <label class="label-icon" for="search"><i class="material-icons">search</i></label> -->
          <!-- <i class="material-icons">close</i> -->
        </form>
      </div>
        </div>

  </nav>

  <body>
  {% block content %}{% endblock %}

</body>